<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[MovieShop]*Views.*,[MovieShop]MovieShop.App*,[MovieShop]*MainWindow*</Exclude>
          <Include>[MovieShop.ViewModels]*,[MovieShop.Services]*</Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
